.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: var(--radius-box);
  padding: 1.5rem;
  max-height: 27rem;
  border-bottom: 5px solid var(--color-primary);
}

.displayHeading {
  color: var(--color-primary);
  width: 15rem;
  text-align: center;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  @starting-style {
    opacity: 0;
  }
}

small {
  font-size: 0.5rem;
}

.displayButton {
  border: none;
  padding: 0.75rem;
  padding-inline: 2rem;
  border-radius: var(--radius-box);
  margin-block: 0.75rem;
  font-size: 1.25rem;
  color: var(--color-primary-content);
  background-color: var(--color-primary);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.displayButton:hover {
  filter: brightness(1.2);
}

.displayButton:active {
  transform: translateY(-5px);
}

.detailsInfo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.75rem;
  width: 100%;
}

.numberOfMeasurements {
  justify-self: end;
  font-weight: 600;
  grid-column: 3/4;
}

.totalExpositionTime {
  justify-self: end;
  font-weight: 600;
  grid-column: 3/4;
}

.detailsInfo > p:nth-child(1) {
  display: list-item;
  grid-column: span 2;
  color: var(--color-base-content);
  margin-inline-start: 0.5rem;
}

.detailsInfo > p:nth-child(3) {
  grid-column: span 2;
  display: list-item;
  color: var(--color-base-content);
  margin-inline-start: 0.5rem;
}

.detailsInfo > p:nth-child(1)::marker {
  color: var(--color-secondary);
}

.detailsInfo > p:nth-child(3)::marker {
  color: var(--color-accent);
}
